body {
  margin: 0;
  padding: 0;
  background-color: #0d0d0d;
  overflow: hidden; /* Oculta barras de rolagem */
}

iframe {
  display: block;
  margin: 0 auto;
}

.console {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Fundo escuro para o console */
  color: white;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  opacity: 1;
  transition: opacity 0.3s ease;
}

img {
  width: 24px;
  height: 24px;
  border-radius: 12px;
}
